$first-color: #2B2D42;
$second-color: #8d99ae;
$third-color: #edf2f4;
$fourth-color: #ef233c;
$fifth-color: #d90429;

// mobile break points
$small: 576px;
$medium: 768px;
$large: 960px;

.space-top{
    margin-top: 125px;
}
.space-top-sm{
    margin-top: 80px;
}

.c-btn{
    background-color: $first-color;
}
.c-bg{
    background-color: $first-color;
    color: white;
}

.custom-link{
    color: $fourth-color;
    transition: color 500ms;
    &:hover{
        text-decoration: none;
        color: black;
    } 
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Merriweather', serif;
}

#menu-details{
    .fas{
        color: $fourth-color;
    }
    .fab{
        color: $second-color;
        &:hover{
            color: $first-color;
        }
    }
    a:first-of-type{
        color: $first-color;
        &:hover{
            color: $fourth-color;
            text-decoration: none;
        }
    }
}

nav{
    img{
        width: 65px;
    }
    .navbar-brand{
        font-family: 'Pacifico', cursive;
    }
}

#move-up{
    position: fixed;
    bottom: 30px;
    left: 95%;
    color: $third-color;
    background-color: darken($first-color, $amount: 4%);
    padding: 7px 11px;
    border-radius: 10px;
    opacity: 0.5;
    z-index: 1;
    &:hover{
        opacity: 1;
        transition-property: opacity;
        transition-duration: 400ms;
    }
}

#footer{
    background-color: $first-color;
    color: $third-color;
    padding-top: 60px;

    h3{
        font-size: 23px;
    }

    ul{
        list-style: none;
        padding-left: 15px;

        li{
            line-height: 40px;
            .fas{
                margin-right: 5px;
                color: $second-color;
            }
            a{
                color: $third-color;
                &:hover{
                    color: $second-color;
                    text-decoration: none;
                    transition-property: color;
                    transition-duration: 400ms;
                }
            }
        }
    }
    address{
        .fab{
            color: white;
            padding: 10px;
            margin-bottom: 7px;
            border-radius: 7px;
            background-color: lighten($color: $first-color, $amount: 8%);
            transition-property: background-color;
            transition-duration: 400ms;

            &:hover{
                background-color: darken($color: $first-color, $amount: 10%);
            }
        }
    }
    .btn{
        background-color: $fifth-color;
    }
    #footer-bottom{
        text-align: center;
        background-color: darken($color: $first-color, $amount: 8%);
        padding: 25px 0;
        margin-top: 30px;
        .credit{
            font-size: 13px;
            font-weight: 300;
            margin-top: 1em;
        }
    }
}

@media (max-width: $medium){
    #move-up{
        left: 85%;
        bottom: 10%;
    }
}
