@import 'config';

#home-banner{
    position: relative;
    
    img{
        height: 80vh;
        width: 100%;
    }

    .home-display{
        position: absolute;
        top: 90px;
        left: 90px;
        width: 40%;
        color: $third-color;
        h1{
            animation-name: home-slide-head;
            animation-duration: 2s;
        }
        p{
            margin-top: 9%;
            animation-name: home-slide-p;
            animation-duration: 2s;
            animation-delay: 1s;
            transform: translateY(-500px);
            animation-fill-mode: forwards;
            animation-timing-function: ease-out;
        }
        a{
            margin-top: 3.2em;
            animation-name: home-slide-a;
            animation-duration: 2s;
            animation-delay: 2s;
            opacity: 0;
            animation-fill-mode: forwards;
        }
    }
}

@keyframes home-slide-head{
    0%{
        transform: translateY(-500px);
    }

    100%{
        transform: translateY(0);
    }
}

@keyframes home-slide-p{
    0%{
        transform: translateX(-1000px);
    }

    100%{
        transform: translateX(0);
    }
}

@keyframes home-slide-a{
    0%{
        transform: translateY(50px);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}


@media (max-width: $medium){
    #home-banner{
        .home-display{
            top: 70px;
            width: 58%;
            left: 40px;
        }
        p{
            font-size: 13px;
        }
    }
}

// medium device landscape view

@media (max-width: $medium) and (orientation: landscape){
    #home-banner{
        img{
            height: 95vh;
        }
        .home-display{
            top: 50px;
            // width: 58%;
            left: 40px;
            a{
                margin-top: 2em;
            }
            h1{
                font-size: 30px;
            }
        }
    }
}

// small mobile view
@media (max-width: $small){
    #home-banner{
        img{
            height: 450px;
        }
        .home-display{
            top: 50px;
            h1{
                font-size:28px;
            }
        }
    }
}