@import "config";

.slide-up {
  opacity: 1 !important;
  // transform: translateY(-8vh);
  bottom: 10vh;
}
.hide {
  visibility: hidden;
}
#small-nav {
  font-weight: 700;
  span {
    color: $second-color;
  }
  a {
    color: $first-color;
    transition-property: color;
    transition-duration: 400ms;
    &:hover {
      text-decoration: none;
      color: $fourth-color;
    }
  }
}

main {
  line-height: 160%;
  p {
    margin-bottom: 30px;
  }
  h4 {
    font-size: 18px;
    font-weight: bold;
  }
  #social-share {
    transition-property: opacity, transform;
    transition-duration: 500ms;
    display: flex;
    position: fixed;
    bottom: 30vh;
    left: 0;
    width: 45px;
    flex-direction: column;
    opacity: 0;
    a {
      color: white;
    }
    div {
      flex: 1;
      padding: 10px 0;
      margin-bottom: 2px;
      &:nth-of-type(2) {
        background-color: #415bac;
        transition: background-color 500ms;
        &:hover {
          background-color: darken($color: #415bac, $amount: 15px);
        }
      }
      &:nth-of-type(3) {
        background-color: #20abe4;
        transition: background-color 500ms;
        &:hover {
          background-color: darken($color: #20abe4, $amount: 15px);
        }
      }
      &:nth-of-type(4) {
        background-color: #d30921;
        transition: background-color 500ms;
        &:hover {
          background-color: darken($color: #d30921, $amount: 15px);
        }
      }
      &:nth-of-type(5) {
        background-color: #415bac;
        transition: background-color 500ms;
        &:hover {
          background-color: darken($color: #415bac, $amount: 15px);
        }
      }
      &:nth-of-type(6) {
        background-color: green;
        transition: background-color 500ms;
        &:hover {
          background-color: darken($color: green, $amount: 15px);
        }
      }
    }
  }
}

.post-img {
  width: 100%;
  height: 510px;
  margin-bottom: 30px;
  border-radius: 10px;
}

#top-pick {
  position: relative;
  .row {
    border: 6px solid $first-color;
    padding: 20px 0;
  }
  b {
    a {
      color: $fourth-color;
    }
  }
  h2 {
    font-size: 18px;
    position: absolute;
    top: -40px;
    left: -14px;
    background-color: $fifth-color;
    padding: 7px;
    color: white;
    border-radius: 4px;
  }
  p {
    margin-bottom: 1rem;
  }
}

#product-list {
  b {
    color: $fourth-color;
  }
  .title {
    background-color: $fifth-color;
    color: white;
  }
  .product-detail {
    font-size: 14px;
    line-height: 140%;
  }
}

.page-content::after {
  color: $fourth-color;
  content: "show";
}
.page-content-hide::after {
  color: $fourth-color;
  content: "hide";
}

.product {
  margin-bottom: 125px;
  .container {
    h2 {
      font-size: 25px;
    }
    a {
      color: $fourth-color;
      transition-property: color;
      transition-duration: 1000ms;
      &:hover {
        text-decoration: none;
        color: $first-color;
      }
    }
  }
  .benefit {
    font-size: 22px;
    padding-left: 2em;
  }
  .nav-tabs {
    a {
      color: white;
      margin: 3px 0 0 3px;
      &:hover {
        background-color: $third-color;
        color: $first-color;
      }
    }
    .active {
      color: black;
      &:hover {
        background-color: #fff;
        color: black;
        cursor: default;
      }
    }
  }
  .tab-content {
    border: 3px solid #6c757d;
    border-top: 0;
    padding: 16px 5px 5px 15px;
  }
  .pros-cons {
    h3 {
      font-size: 24px;
    }
  }
}

.drawback {
  border: #f5baba solid 1px;
  background-color: #f9e5e5;
}
.caution {
  border: 1px solid #fadf98;
  background-color: #fef5c4;
}
.summary {
  border: 1px solid #90b8e0;
  background-color: #e2f0fc;
  a {
    width: 50%;
    min-width: 280px;
  }
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
  iframe {
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

#owner-info {
  h2 {
    font-size: 1rem;
    text-align: center;
    font-weight: bold;
  }
}

#recent-post {
  h2 {
    font-size: 23px;
  }
  li {
    line-height: 220%;
  }
}

#buying-guide {
  h2 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 40px;
    color: $fifth-color;
  }
}

.infograph {
  padding: 0 25px;
  img {
    max-height: 800px;
    width: 100%;
    border-radius: 10px;
  }
}

@media (max-width: $medium) {
  .post-img {
    height: 400px;
  }
}
@media (max-width: $small) {
  .post-img {
    height: 300px;
  }
  .product {
    #myTab {
      a {
        margin-right: 3px;
      }
    }
  }
  main {
    #social-share {
      flex-direction: row;
      width: 100%;
      bottom: -10vh;
    }
  }
}
