@import 'config';

#small-nav{
    font-weight: 700;
    span{
        color: $second-color;
    }
    a{
        color: $first-color;
        &:hover{
            text-decoration: none;
            color: $fourth-color;
            transition-property: color;
            transition-duration: 400ms;
        }
    }
}

section{
    line-height: 160%;
}

.post-img{
    width: 100%;
    height: 510px;
    margin-bottom: 30px;
    border-radius: 10px;
}

#top-pick{
    position: relative;
    .row{
        border: 6px solid $first-color;
        padding: 20px 0;
    }
    b{
        a{
            color: $fourth-color;
        }
    }
    h2{
        font-size: 18px;
        position: absolute;
        top: -40px;
        left: -14px;
        background-color: $fifth-color;
        padding: 7px;
        color: white;
        border-radius: 4px;
    }
}

@media (max-width: $medium){
    .post-img{
        height: 400px;
    }
}
@media (max-width: $small){
    .post-img{
        height: 300px;
    }
}