<p>
    <b>
      When we talk about fitness and weight loss, I’m sure we can all agree that an exercise bike is a popular tool to achieve both. But in order to make the best exercise bike decision for you, several factors need to be considered. 
    </b>
</p>
<p>
    That’s why we have put together a list of the Best Exercise Bike of 2020 just for your pick
</p>
<p>
    After a lot of research online, we have shortlisted the top ten exercise bike you can buy right now. Most of these exercise bikes are available on Amazon, and all of them are ranked with at least four stars. We have tried to include a variety of types such as the recumbent and upright so that there is something for everyone, regardless of their preferences.
</p>
<article id="top-pick">
    <div class="container my-5">
        <div class="row">
            <div class="col-md-6">
                <h2>OUR TOP PICK</h2>
                <img src="/assets/exercise-bike-pedals.jpg" alt="Exerpeutic Gold Heavy Duty Foldable Exercise Bike" class="img-fluid">
            </div>
            <div class="col-md-6">
                <p>
                    <b>
                        <a href="/">Exerpeutic Gold Heavy Duty Foldable Exercise Bike</a>
                    </b>
                </p>
                <p>
                    The Gold 500 XLS is a product of Exerpeutic is a big deal with exercise bikes, so it's no surprise that the best bike on our list today is from this big company.
                </p>
                <a href="" class="btn btn-dark c-btn btn-block">VIEW ON AMAZON</a>
            </div>
        </div>
    </div>
</article>
<h2 class="my-4">Best Exercise Bike 2020 – Top 10 Reviews</h2>
<p>If you are in a hurry, here is a quick list of our top 10 exercise bikes</p>
<ol>
    <li>Exerpeutic Gold 500 XLS Heavy Duty Foldable Exercise Bike</li>
    <li>Sunny Health & Fitness SF-B1002 Cycling Bike</li>
    <li>Marcy ME – 709 Recumbent Exercise Bike</li>
    <li>DeskCycle 2 Pedal Exerciser</li>
    <li>Yosuda Indoor Cycling Bike</li>
    <li>Exerpeutic Folding Magnetic Upright Bike</li>
    <li>Schwinn 170 Upright Bike</li>
    <li>Exerpeutic 900XL Weight Capacity Recumbent bike</li>
    <li>Schwinn 130 Upright Bike</li>
    <li>Exerpeutic 2500 Recumbent Exercise Bike</li>
</ol>
<p class="my-4">For a quick summary of our exercise bikes above, a tabular representation is presented below from the best and downwards</p>

<!-- Product table -->
<div class="container border shadow-sm" id="product-list">
  <div class="row font-weight-bold py-2 border-bottom title text-center">
    <div class="col-md-3 d-none d-md-block">IMAGE</div>
    <div class="col-md-3">PRODUCT</div>
    <div class="col-md-3 d-none d-md-block">DETAILS</div>
    <!-- <div class="col-md-3"></div> -->
  </div>
  <div class="row border-bottom border-top py-3 align-items-center">
    <div class="col-md-3 col-5 order-2 order-md-1"><img src="/assets/exercise-bike-pedals.jpg" alt="Exerpeutic Gold 500 XLS Heavy Duty Foldable Exercise Bike" class="img-fluid"></div>
    <div class="col-md-3 order-1 order-md-2 text-center text-md-left mb-3 mb-md-0"><b><a href="" class="text-reset">Exerpeutic 500 XLS Exercise Bike</a></b></div>
    <div class="col-md-3 product-detail col-7 order-3">
      400lb Weight Capacity, Large Seat Cushion, 8 Level Magnetic Tensions, 3 Piece Cranking System, Folds to half the Size, Transportation Wheels.
    </div>
    <div class="col-md-3 order-4 mt-4 mt-md-0"><a href="" class="btn btn-dark btn-sm c-btn p-2 btn-block">VIEW ON AMAZON</a></div>
  </div>
  <div class="row border-bottom py-3 align-items-center">
    <div class="col-md-3 col-5 order-2 order-md-1"><img src="/assets/exercise-bike-pedals.jpg" alt="Sunny Health & Fitness SF-B1002 Cycling Bike" class="img-fluid"></div>
    <div class="col-md-3 order-1 order-md-2 text-center text-md-left mb-3 mb-md-0"><b><a href="" class="text-reset">Sunny SF-B1002 Cycling Bike</a></b></div>
    <div class="col-md-3 product-detail col-7 order-3">
      Leather Resistance Pad, Belt drive System, Bottle Holder, Caged Foot Pedal System, Sturdy Frame, Transportation wheel, Heavy Duty Flywheel.
    </div>
    <div class="col-md-3 order-4 mt-4 mt-md-0"><a href="" class="btn btn-dark btn-sm c-btn p-2 btn-block">VIEW ON AMAZON</a></div>
  </div>
  <div class="row border-bottom py-3 align-items-center">
    <div class="col-md-3 col-5 order-2 order-md-1"><img src="/assets/exercise-bike-pedals.jpg" alt="Marcy ME – 709 Recumbent Exercise Bike" class="img-fluid"></div>
    <div class="col-md-3 order-1 order-md-2 text-center text-md-left mb-3 mb-md-0"><b><a href="" class="text-reset">Marcy ME – 709 Recumbent Exercise Bike</a></b></div>
    <div class="col-md-3 product-detail col-7 order-3">
      Pedals with Safety Straps, Comfortable padded sit, Adjustable Seat, 8 resistance level, Transportation wheel, Recumbent Handbar
    </div>
    <div class="col-md-3 order-4 mt-4 mt-md-0"><a href="" class="btn btn-dark btn-sm c-btn p-2 btn-block">VIEW ON AMAZON</a></div>
  </div>
  <div class="row border-bottom py-3 align-items-center">
    <div class="col-md-3 col-5 order-2 order-md-1"><img src="/assets/exercise-bike-pedals.jpg" alt="DeskCycle 2 Pedal Exerciser" class="img-fluid"></div>
    <div class="col-md-3 order-1 order-md-2 text-center text-md-left mb-3 mb-md-0"><b><a href="" class="text-reset">DeskCycle 2 Pedal Exerciser</a></b></div>
    <div class="col-md-3 product-detail col-7 order-3">
      8 CALIBRATED RESISTANCE SETTINGS, Smooth Pedal Motion, Display stand for desk, Full Day Display, Kensington Slot, Large Pedals with Adjustable Velcro Straps, Online Web App
    </div>
    <div class="col-md-3 order-4 mt-4 mt-md-0"><a href="" class="btn btn-dark btn-sm c-btn p-2 btn-block">VIEW ON AMAZON</a></div>
  </div>
  <div class="row border-bottom py-3 align-items-center">
    <div class="col-md-3 col-5 order-2 order-md-1"><img src="/assets/exercise-bike-pedals.jpg" alt="Yosuda Indoor Cycling Bike" class="img-fluid"></div>
    <div class="col-md-3 order-1 order-md-2 text-center text-md-left mb-3 mb-md-0"><b><a href="" class="text-reset">Yosuda Indoor Cycling Bike</a></b></div>
    <div class="col-md-3 product-detail col-7 order-3">
      IPAD MOUNT, smooth quiet belt transfer, 2-ways (up/ down) Adjustable Handlebar, 35Lbs Flywheel, Adjustable Resistance Knob, Adjustable Seat, Cage Pedals, Brake Pad, Bottle Holder, Transportation Wheels, IPhone Holder, 270lbs Maximum user weight.
    </div>
    <div class="col-md-3 order-4 mt-4 mt-md-0"><a href="" class="btn btn-dark btn-sm c-btn p-2 btn-block">VIEW ON AMAZON</a></div>
  </div>
  <div class="row border-bottom py-3 align-items-center">
    <div class="col-md-3 col-5 order-2 order-md-1"><img src="/assets/exercise-bike-pedals.jpg" alt="Exerpeutic Folding Magnetic Upright Bike" class="img-fluid"></div>
    <div class="col-md-3 order-1 order-md-2 text-center text-md-left mb-3 mb-md-0"><b><a href="" class="text-reset">Exerpeutic Folding Magnetic Upright Bike</a></b></div>
    <div class="col-md-3 product-detail col-7 order-3">
      Large LCD Display, 8 LEVEL MAGNETIC TENSION, 300 lb Weight Capacity, SPACE SAVING Design, 3 Piece Crank System, Good Pedal Design and Stabilizers.
    </div>
    <div class="col-md-3 order-4 mt-4 mt-md-0"><a href="" class="btn btn-dark btn-sm c-btn p-2 btn-block">VIEW ON AMAZON</a></div>
  </div>
  <div class="row border-bottom py-3 align-items-center">
    <div class="col-md-3 col-5 order-2 order-md-1"><img src="/assets/exercise-bike-pedals.jpg" alt="Schwinn 170 Upright Bike" class="img-fluid"></div>
    <div class="col-md-3 order-1 order-md-2 text-center text-md-left mb-3 mb-md-0"><b><a href="" class="text-reset">Schwinn 170 Upright Bike</a></b></div>
    <div class="col-md-3 product-detail col-7 order-3">
      25 level of eddy current magnetic resistance, 29 on-board workout programs, Eight RideSocial mobile app routes, wireless telemetry, MP3 sound system, online goal tracker, angle adjustable handlebars with forearm rests, 3-speed fan cooling system, water bottle holder, 3-piece crank system, Usb charging port/Data transfer, Transportation Wheels, 2 Blue Backlit LCD Display
    </div>
    <div class="col-md-3 order-4 mt-4 mt-md-0"><a href="" class="btn btn-dark btn-sm c-btn p-2 btn-block">VIEW ON AMAZON</a></div>
  </div>
  <div class="row border-bottom py-3 align-items-center">
    <div class="col-md-3 col-5 order-2 order-md-1"><img src="/assets/exercise-bike-pedals.jpg" alt="Exerpeutic 900XL Recumbent bike" class="img-fluid"></div>
    <div class="col-md-3 order-1 order-md-2 text-center text-md-left mb-3 mb-md-0"><b><a href="" class="text-reset">Exerpeutic 900XL Recumbent bike</a></b></div>
    <div class="col-md-3 product-detail col-7 order-3">
      Step through design (easy to get on and off), 300 Pound weight Capacity, 8 Level Magnetic Tension System, Transportation Wheels, Precision balanced flywheel, Extended leg stabilizers.
    </div>
    <div class="col-md-3 order-4 mt-4 mt-md-0"><a href="" class="btn btn-dark btn-sm c-btn p-2 btn-block">VIEW ON AMAZON</a></div>
  </div>
  <div class="row border-bottom py-3 align-items-center">
    <div class="col-md-3 col-5 order-2 order-md-1"><img src="/assets/exercise-bike-pedals.jpg" alt="Schwinn 130 Upright Bike" class="img-fluid"></div>
    <div class="col-md-3 order-1 order-md-2 text-center text-md-left mb-3 mb-md-0"><b><a href="" class="text-reset">Schwinn 130 Upright Bike</a></b></div>
    <div class="col-md-3 product-detail col-7 order-3">
      Usb Port (download data and for media), Set Of MP3 Speakers, Preset Workout Programs, Goal Track, 20 Level Of Resistance, Adjustable Handbars, Streamlined Console, Three speed Fan, Bottle Holder.
    </div>
    <div class="col-md-3 order-4 mt-4 mt-md-0"><a href="" class="btn btn-dark btn-sm c-btn p-2 btn-block">VIEW ON AMAZON</a></div>
  </div>
  <div class="row border-bottom py-3 align-items-center">
    <div class="col-md-3 col-5 order-2 order-md-1"><img src="/assets/exercise-bike-pedals.jpg" alt="Exerpeutic 2500 Recumbent Exercise Bike" class="img-fluid"></div>
    <div class="col-md-3 order-1 order-md-2 text-center text-md-left mb-3 mb-md-0"><b><a href="" class="text-reset">Exerpeutic 2500 Recumbent Exercise Bike</a></b></div>
    <div class="col-md-3 product-detail col-7 order-3">
      Step Through Design, 14 Level Magnetic Tension Resistance System, Adjustable Floor Stabilizers, 3.3" Extra Thick Airsoft Seat, Bluetooth Smart Cloud Fitness, 3 Angle Adjustable Backrest, Fully Adjustable Sliding Desktop
    </div>
    <div class="col-md-3 order-4 mt-4 mt-md-0"><a href="" class="btn btn-dark btn-sm c-btn p-2 btn-block">VIEW ON AMAZON</a></div>
  </div>
</div>
<!-- product table is up -->

<p class="my-4">Now let dive into the main reviews of these top rated exercise bikes one at a time</p>
<p>
  <button id="page-content" class="btn btn-light border" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    Contents [<span class="page-content"></span>]
  </button>
</p>
<div class="collapse mb-4" id="collapseExample">
  <div class="card card-body">
    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
  </div>
</div>

<!-- products -->
<article id="product1" class="product">
  <div class="container shadow-sm border p-3 mb-4">
    <h2>1. <a href="">Exerpeutic Gold 500 XLS Heavy Duty Foldable Exercise Bike</a> – Best Rated Exercise Bike</h2>
    <p>
      This is the top  bike on our list today. The Exerpeutic 500 XLS is designed to support up to a weight capacity of up to 400 lbs. 
    </p>
    <div class="row">
      <div class="col-md-6">
        <img src="/assets/exercise-bike-pedals.jpg" alt="Exerpeutic Folding Magnetic Upright Bike" class="img-fluid">
      </div>
      <div class="col-md-6">
        <h3 class="text-center mt-3 mt-md-0">Benefits</h3>
        <ul>
          <li>The LCD Display shows all you need to know about your workout</li>
          <li>Light weight and transportable</li>
          <li>Effective in burning Calories</li>
          <li>Heart Pulse Sensor</li>
          <li>Very foldable</li>
          <li>Highly adjustable for comfort</li>
        </ul>
      </div>
    </div>
  </div>
  <p>
    Its heavy duty design with high durability that will provide excellent workout results. Features like the 'high torque' 3 piece crank system, magnetic resistance, heart pulse monitoring and a 'double drive' transmission system are all included for a very affordable price. 
  </p>
  <p>
    It can also be folded up just in case you need to put it in storage and is perfect for limited sized rooms and spaces. 
  </p>
  <p>
    Some reviews have also been made about the quietness of the bike, so quiet that you won’t have to turn up the volume of your TV. That is to say you can comfortably do your workout, while watching or listening to some good TV.
  </p>
  <p class="caution p-3">
    You should note that this exercise bike is light weight and can be easily moved. Generally speaking, It’s should be perfect for home use and standard workout, but some gyms might prefer heavy bikes for intense workouts
  </p>
  <h3 class="mb-4 mt-5">Features</h3>
  <h4>400 Pounds Weight Capacity:</h4>
  <p>
    Heavy Duty and High Durability steel frame with up to 400 lbs of weight capacity. It has 20% more steel than the Exerpeutic Folding Magnetic Upright Bike for more maximum (a forerunner). Very easy to get off and on the bike, providing a more effective and comfortable workout.
  </p>
  <h4>Large Seat Cushion</h4>
  <p>Large comfortable seat cushion for people of any size and easily adjustable to fit 5 feet 1 inch to 6 feet 5 inch user heights.</p>
  <h4>8 Level Magnetic Tensions with LCD Display</h4>
  <p>An 8 level Magnetic Tension control system for an easier or more challenging workout. An easy to read large computer LCD display that indicates calories burned, distance, time, speed, scan, odometer and pulse.</p>
  <h4>Heart Pulse Sensors</h4>
  <p>Heart Pulse Sensors on the handle bars allow you to monitor your heart rate.</p>
  <h4>3 Piece Cranking System</h4>
  <p>3 piece 'high torque' cranking system provides a smooth and consistent pedaling motion. Larger pedal design with safety strap prevents any foot slippage when exercising.</p>
  <h4>Folding Capacity</h4>
  <p>Folds to half the size, so it is uniquely compact. Folded Dimensions: 26.4 inches L X 24.8 inches W X 57.5 inches H</p>
  <h4>Transportation Wheels</h4>
  <p>Transportation wheels included for easy relocation</p>
  <!-- tabs section -->
  <ul class="nav nav-tabs rounded-top bg-secondary mt-5 flex-column flex-md-row" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <a class="nav-link active" id="console-tab" data-toggle="tab" href="#console" role="tab" aria-controls="console" aria-selected="true">Console</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link" id="storage-tab" data-toggle="tab" href="#storage" role="tab" aria-controls="storage" aria-selected="false">Storage & Maintenance</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link" id="assembly-tab" data-toggle="tab" href="#assembly" role="tab" aria-controls="assembly" aria-selected="false">Assembly</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link" id="battery-tab" data-toggle="tab" href="#battery" role="tab" aria-controls="battery" aria-selected="false">Installing/Replacing Battery</a>
    </li>
  </ul>
  <div class="tab-content rounded-bottom" id="myTabContent">
    <div class="tab-pane fade show active" id="console" role="tabpanel" aria-labelledby="console-tab">...ho</div>
    <div class="tab-pane fade" id="storage" role="tabpanel" aria-labelledby="storage-tab">
      <ol>
        <li>Inspect and tighten all parts each time you use the machine. Replace any worn parts immediately</li>
        <li>The bike can be cleaned using a damp cloth and mild non-abrasive detergent. Do not use solvents</li>
        <li>Store the machine IN-DOOR. Excess moisture and water would cause rust on the frame</li>
        <li>The machine shall be placed at least 24 inches away from the wall or/and any other object such as furniture to provide safe access to and passage around the machine</li>
        <li>To avoid possible injury, the help of two or more people are needed when moving the machine around</li>
      </ol>
    </div>
    <div class="tab-pane fade" id="assembly" role="tabpanel" aria-labelledby="assembly-tab">...assembly Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequatur, praesentium.</div>
    <div class="tab-pane fade" id="battery" role="tabpanel" aria-labelledby="battery-tab">...con</div>
  </div>
</article>
