<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Contact</title>
    <meta http-equiv="Accept-CH" content="DPR, Viewport-Width, Width">
    <meta name="robots" content="noindex, nofollow">
    <meta name="theme-color" content="#000000">

    <!-- Bootstrap CSS, google fonts, font awesome -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;1,400&family=Pacifico&display=swap" rel="stylesheet"> 
    <script src="https://kit.fontawesome.com/034e494de5.js" crossorigin="anonymous"></script>
    <link rel="icon" type="image/png" href="/assets/favicon.png">
    <link rel="stylesheet" href="/css/contact.min.css">
    <link rel="canonical" href="https://mavnew.herokuapp.com/contact">

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-M2KKTN3');</script>
    <!-- End Google Tag Manager -->
  </head>
  <body>
      <%- include("../partials/nav.ejs") %>
      <div class="container-fluid">
        <div class="row justify-content-center space-top-sm">
          <main class="col-md-10 col-lg-7 mr-lg-5">
            <h1 class="mb-4">Contact</h1>
            <p>
              Do you need help with anything or just want to leave a feedback. Please do not hesistate to contact us. We would make sure to respond as soon as we can.
            </p>
            <form action="/contact" method="POST" class="mt-5">
              <div class="form-group">
                <label for="contact-name">Your Name</label> <span class="text-danger">*</span>
                <input type="text" class="form-control" name="contactName" id="contact-name" required>
              </div>
              <div class="form-group">
                <label for="contact-email">Your Email</label> <span class="text-danger">*</span>
                <input type="email" class="form-control" name="contactEmail" id="contact-email" required>
              </div>
              <div class="form-group">
                <label for="contact-subject">Subject</label>
                <input type="text" class="form-control" name="contactSubject" id="contact-subject">
              </div>
              <div class="form-group">
                <label for="contact-message">Enter your message</label> <span class="text-danger">*</span>
                <textarea class="form-control" name="contactMessage" id="contact-message" rows="10" required></textarea>
              </div>
              <button class="btn btn-dark">Send Message</button>
            </form>
          </main>
          <aside class="col-md-10 col-lg-3">
            <!-- <h4>Popular Posts</h4>
            <ul class="list-unstyled">
              <li>Lorem ipsum dolor sit amet uhghghghfdj.</li>
              <li>Lorem ipsum dolor sit amet.</li>
              <li>Lorem ipsum dolor sit amet.</li>
              <li>Lorem ipsum dolor sit amet.</li>
              <li>Lorem ipsum dolor sit amet.</li>
            </ul> -->
            <h4 class="mt-5">Recent Posts</h4>
            <ul class="list-unstyled">
              <% for(const e of recent){ %>
                <li><a href="/list-review/<%= e.url %>" class="custom-link"><%= e.name %></a></li>
              <%}%>
            </ul>
            <hr>
            <div>
              Ads placements
            </div>
          </aside>
        </div>
      </div>
      <%- include("../partials/footer.ejs") %>

    <!-- Optional JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/js/home.min.js"></script>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  </body>
</html>