<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="Accept-CH" content="DPR, Viewport-Width, Width">
    <meta name="description" content="Mavnew is a fitness and gym equipment review site. We specialize mostly on exercise bikes and provide tips on how to stay fit and healthy.">
    <meta name="theme-color" content="#000000">
    <!--  Essential META Tags for socail share visibility -->
    <meta property="og:title" content="Mavnew | Exercise Bike Review">
    <meta property="og:description" content="Mavnew is a fitness and gym equipment review site. We specialize mostly on exercise bikes and provide tips on how to stay fit and healthy.">
    <meta property="og:image" content="https://res.cloudinary.com/mavnew/c_scale,w_1200,h_630/man-riding-exercise-bike.jpg">
    <meta property="og:url" content="https://www.mavnew.com">
    <meta name="twitter:card" content="summary_large_image">
    <!--  Non-Essential, But Recommended -->
    <meta property="og:site_name" content="Mavnew">
    <meta name="twitter:image:alt" content="A man riding an exercise bike">
    <meta property="og:image" itemprop="image" content="https://res.cloudinary.com/mavnew/c_scale,w_256,h_256/man-riding-exercise-bike.jpg">
    <!-- All open graph cards and neccessary Twitter cards above -->

    <!-- Bootstrap CSS, google fonts, font awesome -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;1,400&family=Pacifico&display=swap" rel="stylesheet"> 
    <script src="https://kit.fontawesome.com/034e494de5.js" crossorigin="anonymous"></script>
    <link rel="canonical" href="https://www.mavnew.com">
    <link rel="icon" type="image/png" href="/assets/favicon.png">
    <link rel="stylesheet" href="/css/home.min.css">

    <title>Mavnew | Exercise Bike Review</title>
  </head>
  <body>
    <main id="wrapper">
      <header id="header">
        <!-- before menu details -->
        <section id="menu-details" class="shadow-sm d-none d-lg-block">
          <div class="container">
            <div class="row py-2">
              <address class="col-3 mb-0">
                <small><i class="fas fa-envelope mr-1"></i><a href="mailto:support@mavnew.com">support@mavnew.com</a></small>
              </address>
              <address class="col-3 mr-auto mb-0">
                <small><i class="fas fa-phone-alt mr-1"></i> +2348067361005</small>
              </address>
              <address class="col-3 mb-0">
                <small>
                  <a href="" rel="nofollow"><i class="fab fa-facebook-f mr-3"></i></a>
                  <a href="" rel="nofollow"><i class="fab fa-twitter mr-3"></i></a>
                  <a href="" rel="nofollow"><i class="fab fa-instagram mr-3"></i></a>
                  <a href="" rel="nofollow"><i class="fab fa-youtube mr-3"></i></a>
                  <a href="" rel="nofollow"><i class="fab fa-pinterest"></i></a>
                </small>
              </address>
            </div>
          </div>
        </section>

        <!-- Navigation -->
        <nav class="navbar navbar-expand-lg navbar-light border-top">
          <div class="container">
            <a class="navbar-brand" href="/">
              <img src="https://res.cloudinary.com/mavnew/c_scale,q_auto,w_80/mavnew-logo.png" alt="mavnew logo">
              <strong>MAVNEW</strong>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#about">About</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#why-us">Services</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#blog">Blog</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#footer-bottom">Contact</a>
                </li>
                <!-- dropdown link example -->
                <!-- <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Dropdown
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                  </div>
                </li> -->
                <!-- disabled link example -->
                <!-- <li class="nav-item">
                  <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                </li> -->
              </ul>
            </div>
          </div>
        </nav>
        
        <!-- flash messages -->
        <%if(success && success.length > 0){%>
          <div>
            <div class="alert alert-success mb-0" role="alert">
              <%=success%>
              <span class="sr-only">A green background signifying success</span>
            </div>
          </div>
        <%}else if(error && error.length > 0){%>
          <div>
            <div class="alert alert-danger mb-0" role="alert">
              <%=error%>
              <span class="sr-only">A red background signifying error or Something went wrong</span>
            </div>
          </div>
        <%}%>
        <!-- ********** flash messages above-->

        <!-- home banner -->
        <section id="home-banner">
          <div>
            <img src="https://res.cloudinary.com/mavnew/c_scale,f_auto,q_auto,w_auto:100:1400/man-riding-exercise-bike.jpg" alt="A man riding an exercise bike" sizes="100vw" class="d-none d-md-block">
            <img src="https://res.cloudinary.com/mavnew/c_scale,f_auto,q_auto,w_auto:100:480/man-riding-exercise-bike.jpg" alt="A man riding an exercise bike" sizes="100vw" class="d-md-none">
          </div>

          <div class="home-display">
            <h1>Best Exercise Bike Review</h1>
            <p>
              We give you and your body all the requirements needed for a daily fitness. Whether its an Upright, Recumbent or Semi-recumbent bike you need, Mavnew has everything you need to go hunting
            </p>
            <a href="#about" class="btn btn-dark btn-md">Read More...</a>
          </div>
        </section>
      </header>

        <!-- About -->
      <section id="about" class="space-top">
        <div class="container shadow p-4">
          <div class="row">
            <div class="col-lg-6 align-self-center">
              <img src="https://res.cloudinary.com/mavnew/c_scale,f_auto,q_auto,w_auto:100:700/exercise-bike.jpg" alt="Exercise bike" sizes="100vw" class="d-none d-md-block">
              <img src="https://res.cloudinary.com/mavnew/c_scale,f_auto,q_auto,w_auto:100:400/exercise-bike.jpg" alt="Exercise bike" sizes="100vw" class="d-md-none">
            </div>
            <div class="col-lg-6">
              <h2 class="mt-2">About</h2>
              <p>
                Mavnew is a fitness and gym equipment review site. We specialize mostly on exercise bikes and provide tips on how to stay fit and healthy.
                We go into details about the products we review on our platform, informing our viewers of the pros and cons of our promotions, and most especially, why they should use them.
              </p>

              <div class="media mt-5">
                <i class="fas fa-heartbeat mr-4 p-4"></i>
                <div class="media-body">
                  <h3 class="mt-0">Cardio-workout</h3>
                  Get tips on how to run an efficient and body sustaining cardio workout routine through the help of our exercise bikes. These types of exercise help increase bone density, lowers stress, expand lung capacity, lowers the risk of heart attacks (or high blood pressure) and of course promote good sleep.
                </div>
              </div>
              <div class="media mt-5">
                <i class="fas fa-dumbbell mr-4 p-4"></i>
                <div class="media-body">
                  <h3 class="mt-0">Stay fit</h3>
                  We hope to provide other tips in our articles to help transform your daily lifestyle routine into a body building or fitness optimised one. Let us help you start your fitness journey today. 
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- Why Us -->
      <section id="why-us" class="space-top">
        <div class="container">
          <h2 class="text-secondary">Why Us?</h2>
          <div class="row justify-content-around">
            <div class="col-md-6 col-lg-3 mb-3">
              <i class="fas fa-search border p-4 rounded-circle shadow mb-4"></i>
              <h3>Research</h3>
              <p>We try as much as possible to provide good content for our viewers by doing alot of digging and research where necessary before compiling.</p>
            </div>
            <div class="col-md-6 col-lg-3 mb-3">
              <i class="fas fa-chart-line border p-4 rounded-circle shadow mb-4"></i>
              <h3>Quality</h3>
              <p>
                We recommend quality product for use with your workouts. The exercise bikes we review are to help you make a more informed decision on the purchases you need for a good fitness session.  
              </p>
            </div>
            <div class="col-md-6 col-lg-3 mb-3">
              <i class="far fa-building border p-4 rounded-circle shadow mb-4"></i>
              <h3>Big Brands</h3>
              <p>Most of our gym equipments are from top reputable brands in the market which have also made a name for themselves.</p>
            </div>
          </div>
        </div>
      </section>

      <!-- Blog -->
      <section class="space-top" id="blog">
        <div class="container">
          <h2>Blog Posts</h2>
          <div class="row">
            <div class="col-md-6 mb-4">
              <div class="blog-content">
                <img src="https://res.cloudinary.com/mavnew/c_scale,f_auto,q_auto,w_auto:100:640/numerous-exercise-bikes-on-display.jpg" alt="woman-riding-upright-bike" sizes="100vw">
                <div>
                  <h3>Best Exercise Bike 2020</h3>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis incidunt magni dolore quo et at!</p>
                  <small><a href="/list-review/best-exercise-bike"><i class="fas fa-angle-double-right icon"></i> READ MORE</a></small>
                </div>
              </div>
            </div>
            <div class="col-md-6 mb-4">
              <div class="blog-content">
                <img src="https://res.cloudinary.com/mavnew/c_scale,f_auto,q_auto,w_auto:100:640/exercise-bike-rim-and-pedal.jpg" alt="exercise-bike-rim-and-pedal" sizes="100vw">
                <div>
                  <h3>Best Recumbent Bike 2020</h3>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis incidunt magni dolore quo et at!</p>
                  <small><a href="/list-review/best-recumbent-bike"><i class="fas fa-angle-double-right"></i> READ MORE</a></small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Moving arrow -->
      <a href="#" id="move-up"><i class="fas fa-chevron-up"></i></a>
      <!-- **************** -->
      <footer class="space-top" id="footer">
        <div class="container">
          <div class="row">
            <div class="col-md-6 col-lg-3 mb-2">
              <h2>Mavnew</h2>
              <p>
                <small>
                  mavnew.com is a participant in the Amazon Services LLC Associates Program, an affiliate advertising program designed to provide a means for sites to earn advertising fees by advertising and linking to Amazon.com.
                </small>
              </p>
              <address>
                <small>
                  <i class="fas fa-phone-alt mr-1"></i> +2348067361005
                </small> <br>
                <small>
                  <i class="fas fa-envelope mr-1"></i><a href="/contact" rel="nofollow" class="text-reset"> Contact Us </a>
                </small>
              </address>
            </div>
            <div class="col-md-6 col-lg-2 mb-2">
              <h3>Useful Links</h3>
              <ul>
                <li>
                  <small>
                    <i class="fas fa-angle-right"></i><a href="/"> Home</a>
                  </small>
                </li>
                <li>
                  <small>
                    <i class="fas fa-angle-right"></i> <a href="#about">About Us</a>
                  </small>
                </li>
                <li>
                  <small>
                    <i class="fas fa-angle-right"></i> <a href="#why-us">Services</a>
                  </small>
                </li>
                <li>
                  <small>
                    <i class="fas fa-angle-right"></i> <a href="/privacy-policy" rel="nofollow">Privacy Policy</a>
                  </small>
                </li>
                <li>
                  <small>
                    <i class="fas fa-angle-right"></i> <a href="/affiliate-disclosure" rel="nofollow">Affiliate Disclosure</a>
                  </small>
                </li>
              </ul>
            </div>
            <div class="col-md-6 col-lg-3 mb-2">
              <h3>Follow Us</h3>
              <address>
                <p>Let us be social</p>
                <small>
                  <a href="" rel="nofollow"><i class="fab fa-facebook-f mr-3"></i></a>
                  <a href="" rel="nofollow"><i class="fab fa-twitter mr-3"></i></a>
                  <a href="" rel="nofollow"><i class="fab fa-instagram mr-3"></i></a>
                  <a href="" rel="nofollow"><i class="fab fa-youtube mr-3"></i></a>
                  <a href="" rel="nofollow"><i class="fab fa-pinterest"></i></a>
                  </small>
              </address>
            </div>
            <div class="col-md-6 col-lg-4 mb-2">
              <h3>Newsletter</h3>
              <p>
                <small>
                  Join our newsletter today to stay updated with our latest content and get our recommended skincare book for free. Not only should your body be fit for your health, but it should also be smooth and well moisturized for an appealing look.
                </small>
              </p>
              <form action="" method="POST">
                <div class="input-group">
                  <label for="email" class="sr-only">Enter your email:</label>
                  <input type="email" class="form-control rounded-0" id="email" name="email" placeholder="Email" required>
                  <div class="input-group-prepend">
                    <button class="btn btn-dark px-3"><i class="fas fa-chevron-right"></i></button>
                  </div>
                </div>
                <span class="mt-1 text-danger res"></span>
              </form>
            </div>
          </div>
        </div>
        <div id="footer-bottom">
          <small>
            MAVNEW &COPY; 2020 mavnew.com - All rights reserved.
          </small>
          <div class="credit">Website Crafted By <a href="https://www.instagram.com/f_kenny_f/" rel="nofollow">Kehinde Yishawu</a></div>
        </div>
      </footer>
    </main>

    <!-- Optional JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/js/home.min.js"></script>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  </body>
</html>